button {
	width: 200px;
	height: 75px;
	font-size: 30px;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	color: aliceblue;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 15px;
	margin: 5px;
	cursor: pointer;
}
button:hover {
	background-color: rgba(31, 63, 38, 0.589);
}

.clickButton {
	background-color: black;
}

.resetButton {
	background-color: rgb(77, 77, 77);
}
